.pdf-viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    position: relative;
  }
  
  .pdf-container {
    width: 1024px;
    height: 1366px;
    overflow: hidden;
    position: absolute;
    top: 66px;
    margin: 0 auto; /* Center the PDF container */
  }
  
  .pdf-container canvas {
    width: 100% !important;
    height: auto !important;
  }
  
  .controls {
    margin-top: 20px;
    text-align: center;
  }
  
  button {
    margin: 2px;
    padding: 10px 10px;
    font-size: 16px;
  }
  
  .overlay {
    position: absolute;
    width: 50%; /* Adjust as needed */
    height: 1300px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5); /* alpha determines degree of transparency */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; /* Ensure it's on top of other elements */
  }

  .overlay.left {
    top: 66px;
    left: 0px;
  }

  .overlay.right {
    top: 66px; 
    right: 0px;
  }

  .toolbar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%; /* Adjust as needed */
    height: 66px; /* Adjust as needed */
    background-color: rgba(41, 163, 174, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; /* Ensure it's on top of other elements */
    outline: solid;
  }

  #home-button {
    font-size: 1rem;
    background-color: #dabfee;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 8px 16px;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
    padding-top: 50px;
    background-color: #dabfee;
  }

  .upload-square {
    border: 2px solid #ffffff;
    border-radius: var(--border-radius);
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .app-name {
    font-size: 3rem;
    font-family: var(--font-mono);
    color: rgb(var(--foreground-rgb));
    margin-bottom: 50px;
  }

  .upload-text {
    font-family: var(--font-mono);
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
  }

  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
    background-color: rgba(41, 163, 174, 0.5);
  }

  input[type="file"] {
    border: 2px solid #ffffff;
    border-radius: var(--border-radius);
    padding: 8px;
    font-size: 1rem;
    display: none;
  }
