.pdf-viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    position: relative;
  }
  
  .pdf-container {
    width: 1024px;
    height: 1366px;
    overflow: hidden;
    position: absolute;
    top: 66px;
    margin: 0 auto; /* Center the PDF container */
  }
  
  .pdf-container canvas {
    width: 100% !important;
    height: auto !important;
  }
  
  .controls {
    margin-top: 20px;
    text-align: center;
  }
  
  button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .overlay {
    position: absolute;
    width: 50%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5); /* alpha determines degree of transparency */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; /* Ensure it's on top of other elements */
  }

  .overlay.left {
    top: 50px;
    left: 0px;
  }

  .overlay.right {
    top: 50px; 
    right: 0px;
  }

  .toolbar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%; /* Adjust as needed */
    height: 66px; /* Adjust as needed */
    background-color: rgba(41, 163, 174, 0.5); /* alpha determines degree of transparency */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; /* Ensure it's on top of other elements */
    outline: solid;
  }
